<div class="container-sm">
  <div class="d-flex justify-content-between">
    <div class="main_title">
      <h2>投稿</h2>
    </div>

    <div class="d-none d-md-block">
      <%= link_to "戻る",  :search_users_books,class: "btn back_button" %>
    </div>
  </div>

  <div class="d-flex justify-content-between book_container">
    <div class="d-flex m-1", style="flex:1;">
      <div>
        <%= link_to image_tag(@books.image_url),@books.url %>
      </div>
      <div class="book_title">
        <div ><%= @books.title %></div>
        <div class= "book_author"><%= @books.author %></div>
      </div>

    </div>

    <div style="width:100px;">
    </div>
  </div>

  <div>
    <%= form_with model: @post, url: users_book_posts_path(@books), local: true do |f| %>

    <div>
      <% if @post.errors.any? %>
        <div id="errors">
          <% @post.errors.full_messages.each do |msg| %>
            <%= msg%>
          <% end %>
        </div>
      <% end %>

      <%= f.label :content, "感想(最大255文字)" %><br>

      <%= f.text_area :content, class: "text_content js-text", rows: 6,placeholder: '改行は反映されません',maxlength: "255" %>
      <div class="js-text-count pull-right"></div>
    </div>

    <div>
      <%=  f.submit "投稿", class:"btn" %>
    </div>
  <% end %>



  </div>

</div>