<div class="container-sm ">
  <div class="d-flex justify-content-between">
    <div class="profile_container d-flex">
      <div>
        <%= link_to  users_user_path(@post.user_id) do%>
          <% if @user.avatar.attached? %>
            <%= image_tag(rails_blob_path(@user.avatar),:size => "60x60", class:"icon") %>
          <% else %>
            <%= image_tag("default.png", :size => "60x60", class:"icon") %>
          <% end %>
        <% end %>
      </div>

      <div class="profile_name">
        <p class="user"><%= link_to  @post.user.name, users_user_path(@post.user_id) %> </p>
        <div>
          <%= link_to "#{@user.followings.count} フォロー", following_users_user_path(@user)  %>
          <%= link_to "#{@user.followers.count} フォロワー", follower_users_user_path(@user), id: "followers"  %>
          
        </div>
      </div>
    </div>




    

      <div >
        <div id="like_button" class="d-inline-block">
          <% if current_user.likes.find_by(post_id: @post.id) %>
            <%= render "users/likes/liked" %>
          <% else %>
            <%= render "users/likes/like"%>
            
          <% end %>
        </div>

        <% if @post.user != current_user%>
          <div id="report_button" class="d-inline-block">
            <% if current_user.reports.find_by(post_id: @post.id) %>
              <%= render "users/reports/reported" %>
            <% else %>
              <%= render "users/reports/report" %>
              
            <% end %>
          
          </div>

        <% else %>
          <%= link_to "更新", edit_users_post_path(@post), class: "btn back_button" %> 
          <%= link_to "削除", users_post_path(@post), method: :delete, data: {confirm: "本当に削除しますか？？"}, class: "btn back_button" %>
          
        <% end %>
      </div>
  </div>
  <div class="main-wrapper">
    <div class="main_content">
      <div class="post_main position-relative">
        

        <div >
          <div class="post_content">
            <%= @post.content%>
          </div>
          <p class="date text-end"><%= @post.created_at.strftime("%Y年 %m 月 %d日" ) %> </p>
        </div>

        <div>
          <%= link_to(users_book_path(@post.book), class:"d-flex book_item m-1") do %>
            <div>
              <%= image_tag(@post.book.image_url) %>
            </div>
            <div class="m-3" style="margin-bottom: 0px !important;">
              <div><%= @post.book.title %></div>
              <div class= "font-md"><%= @post.book.author %></div>
            </div>
            
          <% end %>
        </div>
        


      </div>
    

    
    </div>

    <div class="sidebar">
    
    </div>
    
  </div>

</div>