<div class="container-sm ">
  <div class="d-flex justify-content-between">

    <%= render "users/shared/profile" %>

    <div>
      <%= link_to "マイページに戻る",  users_user_path(current_user),class: "btn back_button" %>
    </div>
  </div>

  <div class="main_title">
    <h2>フォロワー</h2>
  </div>

  <div class="main-wrapper">
    <div class="main_content">
      <% @user.followers.each do |user| %>
        <%= link_to(users_user_path(user)) do %>
          <div class="profile_list">
            <div class="profile_container d-flex">
              <div>
                <% if user.avatar.attached? %>
                  <%= image_tag(rails_blob_path(user.avatar),:size => "60x60", class:"icon") %>
                <% else %>
                  <%= image_tag("default.png", :size => "60x60", class:"icon") %>
                <% end %>
              </div>

              <div class="profile_name">
                <%= user.name %>
              </div>
            </div>

          </div>
        <% end %>
      <% end %>

    </div>
    <div class="sidebar">
    </div>
  </div>
  <div class="pagenate_style text-center"><%= paginate @users%></div>

</div>


