<div class="container-sm ">
  <div class="d-flex justify-content-between">
    <%= render "users/shared/profile" %>
    
    <% if user_signed_in? && @user == current_user %>
      <div>
        <%= link_to "読んだ本", read_books_users_user_path(@user),class: "btn back_button" %>
        <%= link_to "アカウント設定",  :edit_user_registration,class: "btn back_button" %>
      </div>
    <% else %>
      <div>
       <%= link_to "読んだ本", read_books_users_user_path(@user),class: "btn back_button" %>
        <%= render "users/relationships/follow_button" %>
      </div>
    <% end %>
    

  </div>
  
  <div class="main_title">
    <h2>最近の投稿</h2>
  </div>

  <%= render "users/shared/post_list" %>

</div>