<div class="main-wrapper">
  <div class="main_content">
    <% @posts.each do |p|%>
      <%= link_to(users_post_path(p.id) )  do%>
        <div class="post_wrapper position-relative">
        
          <div class="d-flex ">
            <% if p.user.avatar.attached? %>
              <%= image_tag(rails_blob_path(p.user.avatar),:size => "40x40", class:"icon") %>
            <% else %>
              <%= image_tag("default.png", :size => "40x40", class:"icon") %>
            <% end %>

            <div class="profile_user">
              <p ><%= p.user.name%> </p>
            </div>

          </div>

          <div class="post_content" style="margin-top:10px;">
            <div >
              <%= p.content%>
            </div>
            <p class="date text-end"><%= p.created_at.strftime("%Y年 %m 月 %d日" ) %> </p>
          </div>


          <div class="d-flex book_item m-1">
            <div>
              <%= image_tag(p.book.image_url) %>
            </div>
            <div class="m-3" style="margin-bottom: 0px !important;">
              <div><%= p.book.title %></div>
              <div class= "font-md"><%= p.book.author %></div>
            </div>
            
          </div>
        </div>
        
      <% end %>
    <% end %>

  
  </div>

  <div class="sidebar d-none d-sm-block">
    <% if @articles %>
      <div class="articles_wrapper">
        <h2 class="articles_title">新着記事</h2>
        <% @articles.first(4).each do |f| %>

          <%= link_to(users_article_path(f), class:"d-flex book_item articles_items") do %>

            <div class="admin_field ">
              <% if f.image.attached? %>
                <%= image_tag(rails_blob_path(f.image),:size => "130x130", class:"article_image") %>
              <% else %>
                <%= image_tag("default.png", :size => "130x130", class:"article_image") %>
              <% end %>
            </div>

            <div class="articles_list">
              <div>
                <%= f.article_title %>
              </div>

            </div>
            

          <% end %>


        <% end %>
        
        <%= link_to "もっと見る",:users_articles,class:"articles_more" %>
      
      </div>


    <% end %>
  </div>
  
</div>