<div class="container-sm ">
  <div class="d-md-flex justify-content-between">
    <div class="profile_container d-flex">
      <div>
        <%= link_to  admins_user_path(@post.user_id) do%>
          <% if @post.user.avatar.attached? %>
            <%= image_tag(rails_blob_path(@post.user.avatar),:size => "60x60", class:"icon") %>
          <% else %>
            <%= image_tag("default.png", :size => "60x60", class:"icon") %>
          <% end %>
        <% end %>
      </div>

      <div class="profile_name">
        <p class="user"><%= link_to  @post.user.name, admins_user_path(@post.user_id) %> </p>
        <div>
          <%= "#{@post.user.followings.count} フォロー"  %>
          <%=  "#{@post.user.followers.count} フォロワー" %>
          
        </div>
      </div>
    </div>

  </div>
  <div class="main-wrapper">
    <div class="main_content">
      <div class="post_main position-relative">
        

        <div >
          <div class="post_content">
            <%= @post.content%>
          </div>
          <p class="date text-end"><%= @post.created_at.strftime("%Y年 %m 月 %d日" ) %> </p>
        </div>

        <div>
          <%= link_to(users_book_path(@post.book), class:"d-flex book_item m-1") do %>
            <div>
              <%= image_tag(@post.book.image_url) %>
            </div>
            <div class="m-3" style="margin-bottom: 0px !important;">
              <div><%= @post.book.title %></div>
              <div class= "font-md"><%= @post.book.author %></div>
            </div>
            
          <% end %>
        </div>
        


      </div>
    
    
    </div>

    <div class="sidebar">
    
    </div>
    
  </div>

</div>