<div class="container-sm">
  <div class="d-flex justify-content-between">
    <div class="main_title">
      <h2>記事一覧</h2>
    </div>

    <div >
      <%= link_to "戻る",  :users_root,class: "btn back_button" %>
    </div>
  </div>

  <div class="main-wrapper">
    <div class="main_content">

      <% if @articles %>
        <% @articles.each do |f| %>

          <%= link_to(users_article_path(f), class:"d-flex book_item m-1 justify-content-between position-relative") do %>
            <div class="d-flex">
              <div class="admin_field">
                <% if f.image.attached? %>
                  <%= image_tag(rails_blob_path(f.image),:size => "130x130", class:"article_image") %>
                <% else %>
                  <%= image_tag("default.png", :size => "130x130", class:"article_image") %>
                <% end %>
              </div>

              <div class="articles_list">
                <div>
                  <%= f.article_title %>
                </div>

                
              </div>
            </div>
            <div class="articles_date">
              <%= f.created_at.strftime("%Y年 %m 月 %d日" ) %>
            </div>
            

          <% end %>


        <% end %>
      <% end %>
    </div>

    <div class="sidebar">
    
    </div>
  </div>
  <div class="pagenate_style text-center"><%= paginate @articles %></div>

</div>