<div class="container-sm ">
  <div class="d-flex justify-content-between">
      <div></div>
    

      <div >
        <%= link_to "戻る", :back, class: "btn" %> 
      </div>
  </div>
  <div class="post_main position-relative">
    <div class="articles_image">
      <% if @articles.image.attached? %>
        <%= image_tag(rails_blob_path(@articles.image), class:"article_image") %>
      <% else %>
        <%= image_tag("default.png", class:"article_image") %>
      <% end %>
    </div>

    <div >
      <p><%=  @articles.article_title %> </p>
      <div>
        <%= @articles.article_content%>
      </div>
      <p class="date"><%= @articles.created_at.strftime("%Y年 %m 月 %d日" ) %> </p>
    </div>

  </div>
</div>