<header>
  <nav>
    <div class="d-flex justify-content-between bd-navbar">
      <div >
        <h2><%= link_to "Book Like", :root, class: "logo" %></h2>
      </div>

      <% if admin_signed_in? %>
        <div>
          <%= link_to "本を探す", :search_users_books %> 
          <%= link_to  "マイページ", users_user_path(@user) %>
          <%= link_to "ログアウト", :destroy_user_session, method: :delete %>
        </div>

      <% else %>
        <div>
          <%= link_to "戻る", :new_user_session, class: "btn " %>
        </div>
        
      <% end %>

    </div>
  </nav>
</header>

