<header>
  <nav>
    <div class="d-flex justify-content-between bd-navbar">
      <div >
        <h2><%= link_to "Book Like", :admins_root, class: "logo" %></h2>
      </div>

      <% if admin_signed_in? %>
        <div>
          <%= link_to "home", :admins_root, class: "btn" %> 
          <%= link_to "通報", :reports_posts_admins_posts, class: "btn" %> 
          <%= link_to  "マイページ", :edit_admin_registration , class: "btn"%>
          <%= link_to "ログアウト", :destroy_admin_session, method: :delete, class: "btn" %>
        </div>

      <% else %>
        <div>
          <%= link_to "戻る", :new_user_session, class: "btn " %>
        </div>
        
      <% end %>

    </div>
  </nav>
</header>

