<div class="container-sm">
  <div class="d-flex justify-content-between">
    <div class="main_title">
      <h2>記事の投稿</h2>
    </div>

    <div >
      <%= link_to "戻る",  :admins_articles,class: "btn back_button" %>
    </div>
  </div>


  <div>
    <%= form_with model: @articles, url: :admins_articles, local: true do |f| %>

      <div>
        <%= f.label :article_title, "タイトル" %><br>
        <%= f.text_field :article_title %>
      </div>

      <div class="admin_field">
        <div style="margin-bottom:10px;">記事の画像</div>
        <%= f.label :image do%>
          <%= image_tag("default.png", :size => "100x100", class:"article_image") %>
        <% end %>  
        
        <br />
        <%= f.file_field :image%>
      </div>

      <div>
        <%= f.label :article_content, "内容" %><br>
        <%= f.text_area :article_content, class: "text_content" %>
      </div>

      <div>
        <%=  f.submit "投稿", class:"btn" %>
      </div>
    <% end %>



  </div>

</div>